<template>
  <div>
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-center">

          <div class="col-md-10 mt-4">

            <div class="card card-light">
              <div class="card-header">
                <h3 class="card-title">Update Post</h3>
              </div>

              <form role="form" enctype="multipart/form-data" @submit.prevent="updatePost()">
                <div class="card-body">
                  <div class="form-group">
                    <label for="postId">Update Title</label>
                    <input type="text" class="form-control" id="postId" placeholder="Add Title" v-model="form.title" name="title"
                       :class="{ 'is-invalid': form.errors.has('title') }">
                    <has-error :form="form" field="title"></has-error>
                  </div>

                  <div class="form-group">
                    <label for="descriptionId">Add Description</label>
                    <!--                    <textarea rows="7" type="text" class="form-control" id="descriptionId" placeholder="Add Description" v-model="form.description" name="description"-->
                    <!--                         :class="{ 'is-invalid': form.errors.has('description') }"></textarea>-->
                    <markdown-editor v-model="form.description"></markdown-editor>
                    <has-error :form="form" field="description"></has-error>
                  </div>


                  <div class="form-group col-md-5" >
                    <label>Select</label>
                    <select class="form-control" :class="{ 'is-invalid': form.errors.has('cat_id') }" v-model="form.cat_id">
                      <option disabled value="">Select One</option>
                      <option :value="category.id" v-for="category in getallCategory">{{category.cat_name}}</option>
                    </select>
                    <has-error :form="form" field="cat_id"></has-error>
                  </div>

                  <div class="form-group" >
                    <input @change = "changePhoto($event)" name="photo" type="file" :class="{ 'is-invalid': form.errors.has('photo') }">
                    <img :src="updateImage()" alt="" width="80" height="80">
                    <has-error :form="form" field="photo"></has-error>
                  </div>


                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>


            </div>


          </div>

        </div>

      </div>
    </section>
  </div>
</template>

<script>
export default {

  name: "Edit",
  data(){
    return{
      form: new Form({
        title:'',
        description:'',
        cat_id:'',
        photo:'',
      })
    }
  },
  mounted()
  {
    this.$store.dispatch("allCategory")
  },

  created()
  {
    axios.get(`post/${this.$route.params.postid}`)
      .then((response)=>{
        console.log(response.data)
        this.form.fill(response.data.post)
      })
  },
  computed:
    {
      getallCategory(){
        return this.$store.getters.getCategory
      }
    },
  methods:
    {
      changePhoto(event)
      {
        let file = event.target.files[0];
        if(file.size>1048576)
        {
          swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
            footer: '<p>The Image Must Be Less Then 1MB</p>'
          })

        }else {
          let reader = new FileReader();
          reader.onload = event => {
            this.form.photo = event.target.result
          };
          reader.readAsDataURL(file);
        }


      },

      updatePost(){
        this.form.post(`update/${this.$route.params.postid}`)
          .then(()=>{
            this.$router.push('/post-list')
            toast.fire({
              icon: 'success',
              title: 'Post Updated Successfully!'
            })
          })
          .catch(()=>{

          })
      },

      updateImage(){
        let img = this.form.photo;
        if(img.length>100){
          return  this.form.photo
        }else{
          return `uploadimage/${this.form.photo}`
        }

      }




    }



}
</script>

<style scoped>

</style>
