<template>
  <div>
    <section class="content">
      <div class="row justify-content-around" >
        <div class="col-12 ">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Post List</h3>

              <div class="card-tools">
                <div class="text-right">

       <router-link class="btn btn-sm btn-success" to="/add-post" style="color: #fff6a1">  Add New Post</router-link>

                </div>
              </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>

                  <th>Sl</th>
                  <th>User</th>
                  <th>Category</th>
                  <th>Post Title</th>
                  <th>Post Description</th>
                  <th>Post Photo</th>
                  <th>Action</th>

                </tr>
                </thead>
                <tbody>

                <tr>
                <tr v-for="(post,index) in allpost" :key="post.id">
                  <td>{{index+1}}</td>
                  <td v-if="post.user">{{post.user.name}}</td>
                  <td v-if="post.category">{{post.category.cat_name}}</td>
                  <td>{{post.title|sortlength(20,"...")}}</td>
                  <td>{{post.description|sortlength(50,"...")}}</td>
<!--                                    <td><img :src="post.photo" alt="nice" width="90" height="60"></td>-->
                  <td><img :src="ourImage(post.photo)" alt="nice" width="90" height="60"></td>
                  <td class="ml-0">
                    <router-link :to="`edit-post/${post.id}`">Edit</router-link>
                    <a href="#" @click.prevent="deletePost(post.id)" >Delete</a>

                  </td>
                </tr>
                </tbody>


              </table>
            </div>
            <!-- /.card-body -->
          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</template>

<script>
export default {
name: "List",


    mounted(){
      this.$store.dispatch("all_Post")
    },

    computed:
      {
        allpost(){
          return this.$store.getters.getAllPost
        }

      },

  methods:{
    ourImage(img){
      return "uploadimage/"+img;
    },
    deletePost(id){
      axios.get('/delete/'+id)
        .then(()=>{
          this.$store.dispatch("all_Post")
          toast.fire({
            icon: 'success',
            title: 'Post Deleted Successfully!'
          })
        })
        .catch(()=>{

        })
    }

  }




}
</script>

<style scoped>

</style>
